//Import of all necessary fonts
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Concert+One&family=DM+Mono:ital,wght@1,500&family=Dosis&family=Montserrat+Alternates:wght@700&family=Nova+Mono&family=Orbitron:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Poppins:wght@200&family=Work+Sans&display=swap');