// STYLES FOR THE "ABOUT ME" PART
.main-wrapper__about-me {
  position: relative;

  .about-me {
    &__first-part {
      margin: $m-4per 0 $m-2_5per 0;
      width: $w-100per;
      position: relative;

      .first-part {
        &__image {
          width: auto;
          max-height: $maxh-400px;
          border-radius: $br-7px;
          margin: 0 0 0 $m-10per;
          position: relative;
          z-index: $zi-2;

          @include media-size($ds-laptop){margin-left: $m-2per;}
          @include media-size($ds-large-phone){
            z-index: $zi-1;
            max-width: $maxw-200px;
            height: auto;
            margin-left: calc(100vw / 5.5);
            margin-right: calc(100vw / 5.5);
          }
        }
      }
    }

    &__middle-part {
      position: absolute;
      left: $left-26per;
      top: $top-8per;
      display: block;
      @include animation(showBlock 2s ease-in forwards);
      min-width: $minw-680px;
      border-radius: $br-10px;
      @include boxShadow($boxsh-5px $c-silver-chalice);
      background-color: $c-white-opacity-80;
      z-index: $zi-3;

      > p {
        margin: 0 0 0 $m-20px;

        @include media-size($ds-large-phone){max-width: $maxw-300px;  font-size: pxToRem($font-15px);}
      }

      .middle-part {
        &__main-header {
          margin: $m-20px 0 0 $m-20px;

          @include media-size($ds-large-phone){display: none;}      
        }

        &__main-header-mobile{
          display: none;

          @include media-size($ds-large-phone){display: block; margin: 0 0 0 $m-3per;}
        }

        &__second-header {
          margin: 0 0 0 $m-20px;
          
          @include media-size($ds-large-phone){ text-align: left; margin-left: $m-3per;}
          @include media-size($ds-phone){max-width: $maxw-90vw;}
        }

        &__container-works {
          @include inlineFlex();
          @include justifyContent(space-evenly);
          @include flexWrap(nowrap);
          width: $w-100per;

          > p{
            @include media-size($ds-large-phone){max-width: $maxw-150px;}
            @include media-size($ds-phone){@include flexBasis($fbs-40);}
          }

          @include media-size($ds-large-phone){max-width: $maxw-400px;}
          @include media-size($ds-phone){max-width: $maxw-50per;  @include flex();}
        }

        &__works {
          @include flexBasis($fbs-80);
          text-align: right;
        }

        &__works-button {
          @include flexBasis($fbs-20);

          > img {
            width: $w-50px;
            height: $h-50px;
          }

          @include media-size($ds-large-phone){min-width: $minw-200px;}
          @include media-size($ds-phone){@include flexBasis($fbs-50);}
        }
      }

      @include media-size($ds-laptop){
        left: $left-20per;
        top: $top-8per;
        min-width: $minw-680px;
      }
      @include media-size($ds-tablet){top: $top-50per;  left: $left-8per;}
      @include media-size($ds-large-phone){
        position: relative;
        max-width: $maxw-300px;
        top: 0;
        left: 0;
        @include boxShadow(none);
      }
      @include media-size($ds-phone){
        max-width: $maxw-50px;
      }
    }

    &__second-part {
      @include inlineFlex();
      @include justifyContent(space-evenly);
      @include flexWrap(nowrap);
      margin: $m-20px 0;

      .second-part {
        &__about-me {
          @include flexBasis($fbs-40);
          padding: 0 0 0 $p-20px;

          @include media-size($ds-large-phone){display: block;  margin: auto;}
        }
      }

      @include media-size($ds-laptop){max-width: $maxw-85per;}
      @include media-size($ds-tablet){max-width: $maxw-82per;}
      @include media-size($ds-large-phone){
        display: block;
        @include flexBasis($fbs-20);
        @include flexDirection(row);
      }
    }

    &__container-inscription {
      width: $w-100per;
      @include inlineFlex();
      @include justifyContent(center);
      @include flexWrap(nowrap);

      @include media-size($ds-phone){@include flex(); max-width: $maxw-100vw;}
    }

    &__inscription {
      font-weight: bold;
      @include flexBasis($fbs-80);
      text-align: right;
      padding: $p-10px 0 0 0;

      @include media-size($ds-phone){@include flexBasis($fbs-50);}
    }

    &__image {
      @include flexBasis($fbs-20);
      height: $h-70px;
      width: auto;

      @include media-size($ds-phone){@include flexBasis($fbs-50);}
    }
  }
}
