// STYLES FOR THE "BLOGS" PART
.main-wrapper__blog-posts {
  padding: $p-2per 0 $p-2per $p-7per;
  position: relative;

  .blog-posts{
    &__container-posts{
      @include flex();
      @include justifyContent(left);
      padding: $p-2per 0 $p-2per $p-1per;
      margin-bottom: $m-1per;
      border-radius: $br-7px;
      position: relative;
      z-index: $zi-2;

      > img {
        max-height: auto;
        min-width: $minw-23vw;
        border-radius: $br-7px;
        @include boxShadow($boxsh-5px-10px $c-silver-chalice);
        @include flexBasis($fbs-20);

        @include media-size($ds-large-phone){display: block;  margin: 0 auto;}
      }

      @include media-size($ds-laptop){max-width: $maxw-900px;}
      @include media-size($ds-tablet){max-width: $maxw-700px;}
      @include media-size($ds-large-phone){max-width: $maxw-400px;  display: block;}
      @include media-size($ds-phone){max-width: $maxw-80vw;}
    }

    &__content-wrapper {
      @include flexBasis($fbs-65);
      padding: 0 0 0 $p-3per;
      position: relative;
    }

    &__paragraph{
      font-size: pxToRem($font-15px);
      margin: $m-15px 0 0;
    }

    &__author-data{
      position: absolute;
      top: 0;
      left: $left-80per;
      font-size: pxToRem($font-14px);

      @include media-size($ds-phone){
        position: absolute;
        top: $top-80per;
        left: 0;
        font-size: pxToRem($font-14px);
      }
    }

    &__author-data,
    &__read-more {
      color: $c-brandy;
      font-family: $f-work-sans;
    }

    &__content-read-more{
      @include inlineFlex();
      @include flexWrap(nowrap);
      width: $w-100per;
      @include justifyContent(center);

      @include media-size($ds-phone){@include justifyContent(flex-end); padding-right: $p-2per;}
    }

    &__read-more{
      font-size: pxToRem($font-15px);
      @include flexBasis($fbs-20);
      text-align: right;
    }

    &__arrow {
      width: $w-8px;
      height: $h-8px;
      margin: $m-4px 0 0 $m-1per;
      @include transform(rotate(45deg));
      border-top: $br-3px solid $c-brandy;
      border-right: $br-3px solid $c-brandy;
    }
  }

  .post{
    @include transition(all 1s);
    @include transform(scale(1));
    background-color: $c-white;
  
    &:hover{
      @include transition(all 1s);
      @include transform(scale(1.1));
      background-color: $c-tacao-opacity-30;
    }
  }

  .posts__main-image{
    @include media-size($ds-large-phone){
      max-width: $maxw-50vw;
      display: block;
      margin-bottom: $m-5per;
    }
    @include media-size($ds-phone){
      max-width: $maxw-80vw;
    }
  }
}