// STYLES FOR ALL CIRCLE IMAGES
.circle {
  position: absolute;
}

.about-me {
  &__circle-1 {
    width: $w-400px;
    height: auto;
    top: $top-10per;
    left: $left-60per;
  }

  &__circle-2 {
    width: $w-300px;
    height: auto;
    top: $top-65per;
    left: $left-23per;
    z-index: $zi-1;

    @include media-size($ds-laptop){
      width: $w-200px;
      top: $top-70per;
      left: $left-17per;
    }
    @include media-size($ds-large-phone){display: none;}
  }
}

.second-part {
  &__circle-3 {
    width: $w-400px;
    height: auto;
    top: $top-65per;
    left: $left-75per;
  }

  &__circle-4 {
    width: $w-450px;
    height: auto;
    top: $top-75per;
    right: $right-88per;
  }
}

.tools__circle-5 {
  width: $w-400px;
  height: auto;
  top: $top-15per;
  left: $left-65per;

  @include media-size($ds-laptop){
    top: $top-15per;
    left: $left-85per;
    width: $w-300px;
  }
  @include media-size($ds-large-phone){display: none;}
}

.my-works__circle-6 {
  width: $w-500px;
  height: auto;
  top: $top-30per;
  left: $left-65per;
  z-index: $zi-1;
}

.blog-posts {
  &__circle-7 {
    width: $w-300px;
    height: auto;
    top: $top-30per;
    left: 0;
    z-index: $zi-1;
  }

  &__circle-8 {
    width: $w-400px;
    height: auto;
    top: $top-80per;
    left: $left-50per;
  }
}
