// STYLES FOR THE "ABOUT ME" -> "SKILLS" PART
.second-part__skills {
  @include flexBasis($fbs-40);
  @include flex();
  @include flexDirection(column);
  padding: 0 0 0 $p-20px;
  border-radius: $br-10px;
  @include boxShadow($boxsh-5px $c-silver-chalice);

  .skills {
    &__container-ability {
      @include flexBasis($fbs-10);
      max-width: $maxw-80per;
      position: relative;
      margin: 0 0 $m-20px;
      color: $c-white;
      font-family: $f-quicksand;
      border-radius: $br-7px;
      background-color: $c-gallery;
      z-index: $zi-2;

      p:first-child {
        margin: $m-10px $m-10px 0 0;
        text-align: right;
      }

      .column {
        position: absolute;
        height: $h-100per;
        display: block;
        @include boxShadow($boxsh-5px $c-silver-chalice);
        border-radius: $br-7px;
        @include animation(showSkills 2s ease-out forwards);
        @include background($c-corvette, $c-brandy);
      }

      @include media-size($ds-large-phone){
        @include flexBasis($fbs-90);
        @include flexWrap(wrap);
        min-height: $minh-35px;
      }
    }
  }

  @include media-size($ds-large-phone){@include flexDirection(row); @include flexWrap(wrap);}
  @include media-size($ds-phone){
    min-width: $minw-90vw;
  }
}

@include createColumns();
